<p style="color: green"><%%= notice %></p>

<h1><%= human_name.pluralize %></h1>
<table>
  <thead>
    <tr>
      <th> <%%= render <%= plural_table_name %> </th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
      <td>
        <%%= render <%= singular_table_name %> %>
      </td>
      <td>
        <%%= link_to "Show this <%= human_name.downcase %>", <%= model_resource_name(singular_table_name) %> %>  
      </td>
    </tr>
    <%% end %>
  </tbody>
</table>


