<div id="<%= dom_id period %>">
  <p>
    <strong>Period title:</strong>
    <%= period.period_title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= period.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= period.end_date %>
  </p>

  <p>
    <strong>Journal code:</strong>
    <%= period.journal_code %>
  </p>

</div>
