<div id="<%= dom_id bank %>">
  <p>
    <strong>Bank title:</strong>
    <%= bank.bank_title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bank.address %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= bank.contact_no %>
  </p>

  <p>
    <strong>Check account:</strong>
    <%= bank.check_account %>
  </p>

  <p>
    <strong>Iorder:</strong>
    <%= bank.iOrder %>
  </p>

  <p>
    <strong>Branch office:</strong>
    <%= bank.branch %>
  </p>

</div>
