<div id="<%= dom_id generalledger %>">
  <p>
    <strong>Reference:</strong>
    <%= generalledger.reference_id %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= generalledger.entry_type %>
  </p>

  <p>
    <strong>Transaction date:</strong>
    <%= generalledger.transaction_date %>
  </p>

  <p>
    <strong>Debit code:</strong>
    <%= generalledger.debit_code %>
  </p>

  <p>
    <strong>Credit code:</strong>
    <%= generalledger.credit_code %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= generalledger.debit %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= generalledger.credit %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= generalledger.account_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= generalledger.branch_id %>
  </p>

  <p>
    <strong>Sub account:</strong>
    <%= generalledger.sub_account_id %>
  </p>

</div>
