<div id="<%= dom_id agent %>">
  <p>
    <strong>Agent name:</strong>
    <%= agent.agent_name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= agent.region %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= agent.branch_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= agent.position %>
  </p>

</div>
