<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment title:</strong>
    <%= payment.payment_title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= payment.plan %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= payment.Abbreviation %>
  </p>

</div>
