<div id="<%= dom_id journal_voucher %>">
  <p>
    <strong>Voucher:</strong>
    <%= journal_voucher.voucher %>
  </p>

  <p>
    <strong>Date voucher:</strong>
    <%= journal_voucher.date_voucher %>
  </p>

  <p>
    <strong>Payee:</strong>
    <%= journal_voucher.payee %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= journal_voucher.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= journal_voucher.description %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= journal_voucher.period %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= journal_voucher.branch %>
  </p>

</div>
