<div id="<%= dom_id check_voucher %>">
 

  <p>
    <strong>Voucher:</strong>
    <%= check_voucher.voucher %>
  </p>

  <p>
    <strong>Date voucher:</strong>
    <%= check_voucher.date_voucher %>
  </p>
   <p>
    <strong>Payee:</strong>
    <%= check_voucher.payee_id %>
  </p>

 
  <p>
    <strong>Address:</strong>
    <%= check_voucher.address %>
  </p>
   <p>
    <strong>Bank:</strong>
    <%= check_voucher.bank_id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= check_voucher.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= check_voucher.amount %>
  </p>

</div>
