<div id="<%= dom_id account %>">
  <p>
    <strong>Account title:</strong>
    <%= account.account_title %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= account.parent %>
  </p>

  <p>
    <strong>Code order:</strong>
    <%= account.code_order %>
  </p>

  <p>
    <strong>Iorder:</strong>
    <%= account.order %>
  </p>

</div>
